numpy~=2.2.6
MeshPy
Pillow
PyQt5
PyQt5-Qt5
PyQt5-sip
PyYAML
Shapely
Werkzeug
cycler
future
iso8601
matplotlib
numpy
pandas
pip
pluggy
pyparsing
scipy
pyserial
setuptools
six
vispy
wheel
scikit-learn
keras
joblib
tensorflow
pre-commit